* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-warning: #f7c94b;
    --color-success: #00bf8e;
    --color-danger: #f75842;
    --color-primary: #6c63ff;
    --color-white: #fff;
    --color-black: #000;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-brown: rgba(247, 88, 66, 0.4);

    --color-bg1: #1f2641;
    --color-bg2: #2e3267;
    --color-bg3: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    
    --transition: all 400ms ease;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7rem;
    color: var(--color-white);
    background-color: var(--color-bg1);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    border: 1px solid transparent;

    padding: 16px 32px;

    transition: var(--transition);

}

.btn:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}

/* =================Navbar===================== */

nav {
    width: 100vw;
    height: 80px;
    
    position: fixed;
    top: 0;

    z-index: 10;
}

/* change navbar styles on scroll using js*/
.window-scroll {
    background-color: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav-container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: 0.9rem;

    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--color-bg3);

}

#open-menu-btn, #close-menu-btn {
    display: none;
}

/* ==================Header==================== */

header {
    height: 70vh;
    margin-bottom: 5rem;

    position: relative;
    top: 5rem;

    overflow: hidden;
}

.header-container {
    height:  100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}


.header-left p {
    margin: 16px 0 38px;
}



/* ===============Categories=================== */

.categories {
    background-color: var(--color-bg2);
    height: 30rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories-container {
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.categories-right {
    margin-right: 2rem;
}

.categories-left p {
    margin: 1rem 0 3rem;
}

.categories-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category {
    background-color: var(--color-bg3);
    border-radius: 2rem;
    padding: 2rem;
    
    transition: var(--transition);
}

.category:hover {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);

    z-index: 1;
}

.category-icon {
    background-color: var(--color-primary);
    border-radius: 0.9rem;

    padding: 0.7rem;
}

.category:nth-of-type(2) .category-icon {
    background-color: var(--color-danger);
}

.category:nth-of-type(3) .category-icon {
    background-color: var(--color-success);
}

.category:nth-of-type(4) .category-icon {
    background-color: var(--color-warning);
}

.category:nth-of-type(5) .category-icon {
    background-color: var(--color-success);
}


.category h5 {
    margin: 2rem 0 1rem;
}

.category p {
    font-size: 0.85rem;
}

/* ============Popular Courses================ */

.courses {
    margin-top: 10rem;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background-color: var(--color-bg2);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover {
    background-color: transparent;
    border-color: var(--color-bg2);
}

.course-info {
    padding: 2rem;
}

.course-info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* ============ FAQS ================ */
.faqs {
    background-color: var(--color-bg2);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    background-color: var(--color-primary);
    height: fit-content;
    padding: 2rem;
    

    display: flex;
    align-items: center;
    gap: 1.4rem;

    cursor: pointer;

}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq-icon {
    align-self: flex-start;
    font-size: 1rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}

/* ============ Testimonials ================ */

.testimonials-container {
    margin-bottom: 5rem;

    position: relative;

    overflow-x: hidden;
}

.testimonial {
    padding-top: 2rem;
}


.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.8rem solid var(--color-bg2);
}

.testimonial-info {
    text-align: center;
}

.testimonial-body {
    background-color: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;

    position: relative;
}

.testimonial-body::before {
    content: "";

    width: 3rem;
    height: 3rem;
    background: linear-gradient(
        135deg,
        transparent,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary)
        );

    position: absolute;
    left: 50%;
    top: -1.5rem;

    transform: rotate(45deg);
    
}

/* ============ Footer ================ */

footer {
    background-color: var(--color-bg2);
    padding-top: 5rem;
    font-size: 0.9rem;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.footer-container > div h4 {
    margin-bottom: 1.2rem;
}

.footer1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer-copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg3);
}

/* ============ medium screen ================ */

@media screen and (max-width: 1024px) {

    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* ============ Navbar ================ */

    #open-menu-btn,#close-menu-btn {
        display: inline-block;
        background-color: transparent;
        font-size: 1.5rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav-menu {
        width: 18rem;
        height: fit-content;

        position: fixed;
        top: 5rem;
        right: 5%;

        flex-direction: column;
        gap: 0;

        display: none;
    }

    .nav-menu li {
        width: 100%;
        height: 5.8rem;
        animation: nav-ani 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav-menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav-menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav-menu li:nth-child(4) {
        animation-delay: 600ms;
    }

    @keyframes nav-ani {
        from {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
            
        }

        to {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }

    }

    .nav-menu li a {
        width: 100%;
        height: 100%;
        background-color: var(--color-bg3);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);

        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover {
        background-color: var(--color-bg2);
        color: var(--color-white);
    }

    /* ============ Header ================ */

    height {
        height: 52vh;
        margin-bottom: 4rem;

    }

    .header-container {
        gap: 2rem;
        padding-bottom: 3rem;
    }
    
    /* ============ Category ================ */

    .categories {
        height: auto;
    }

    .categories-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories-left {
        margin-right: 0;
    }

    /* ============ Popular Courses ================ */

    .courses {
        margin-top: 0;
    }

    .courses-container {
        grid-template-columns: 1fr 1fr;
    }

    /* ============ FAQ ================ */
    
    .faqs-container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    /* ============ Footer ================ */

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

}

/* ============ small screen ================ */

@media screen and (max-width: 600px) {
    
    .container {
        width: var(--container-width-sm);
    }

/* ============ Navbar ================ */

    .nav-menu {
        width: 13rem;
        right: 3%;
    }

    .nav-menu li {
        height: 4rem;
    }

/* ============ Header ================ */

    header {
        height: 100vh;
    }

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header-left p {
        margin-bottom: 1.3rem;
    }

    .header-right {
        margin-left: 6rem;
    }

/* ============ Categoty ================ */

    .categories-right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category {
        padding: 1rem;
        border-radius: 1rem;
    }

    .category-icon {
        margin-top: 4px;
        display: inline-block;
    }

/* ============ Popular Courses ================ */
    .courses-container {
        grid-template-columns: 1fr;
    }

/* ============ Testimonials ================ */
    .testimonial-body {
        padding: 1.2rem;
    }

/* ============ Footer ================ */

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer1 p {
        margin: 1rem auto;
    }

    .footer-socials {
        justify-content: center;
    }

}
